body{
    background-color: rgb(38, 13, 0);
    background-image: url(../img/fondo.png);
    background-position: center;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}
.contenedor{
    background-color: red;
    width: 500px;
    height: 100%;
    align-self: flex-end;
}
.contenido-login{
    min-height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 100px 65px;
    position: relative;
    background-color: #ffffff;
}
.titulo-login{
    font-size: 30px;
    font-weight: 300;
    color: #788195;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
input{
    margin-bottom: 30px;
    height: 42px;;
}
input[placeholder]{
    font-size: 13px;
}
.btn-guardar{
    margin-left: 0;
    font-size: 15px;
    height: 35px;
    padding: 0 25px;
}
.base{
    font-size: 12px;
    font-weight: 600;
    height: 30px;
}

.strong-form{
    margin-bottom: 60px;
}
.footer-form{
    text-align: center;
}
.footer-form button:hover{
    color: #5d5dff;
    border-color: #5d5dff;
}
input[type=text], input[type=password], input[type=email], input[list]{
    padding: 20px 10px;
}

@media (max-width: 780px) {
    .contenedor{
        width: 100%;
    }
    
}


